{% if categories %}
<div class="container">
  <nav id="menu" class="navbar">
    <div>
      {% set category_index=0 %}
      {% for category in categories %}
      {% if category.children %}
        <button class="btn btn-primary" style="margin: 5px 0px 0px 0px;" data-toggle="collapse" data-target="#category{{category_index}}" aria-expanded="false" aria-controls="category{{category_index}}">
            {{category.name}}
        </button>
      {% set category_index=category_index+1 %}
      {% else %}
        <a class="btn btn-primary" style="margin: 5px 0px 0px 0px;" href="{{ category.href }}">{{ category.name }}</a>
      {% endif %}
      {% endfor %}
      {% set category_index=0 %}
      <div class="container align-items-center mt-3" style="padding: 0 !important;">
      {% for category in categories %}
        {% if category.children %}
          <div class="row collapse" style="border:2px solid purple; border-radius: 5px; margin: 5px 0px 0px 0px; padding: 5px;"  id="category{{category_index}}">
            <h5>{{category.name}}</h5>
            <!--<hr style="margin-bottom:5px !important; margin-top:0px !important; background-color: purple; color: purple; border-top: 2px solid grey !important;" />-->
            {% for child in category.children %}
              <a class="btn btn-primary" href="{{ child.href }}">{{ child.name }}</a>
            {% endfor %}
          </div>
        {% endif %}
      {% set category_index=category_index+1 %}
      {% endfor %}
      </div>
    </div>
  </nav>
</div>
{% endif %} 